{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Game History</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-body box-profile">
                                        <center>
                                            <h3 class="profile-username text-center">{{games.gameNumber}}
                                            </h3>
                                            <h5 class="profile-username text-center" style="color: #f68627;">Date: {{gameDates.createdAt}}
                                            </h5>
                                        </center>

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                        <div class="row invoice-info ">
                            <div class="col-lg-4 invoice-col">
                                <address>
                                    Small Blind: {{games.smallBlind}}} <br>
                                    Big Blind: {{games.bigBlind}}<br>
                                </address>
                            </div>
                            <div class="col-lg-4 invoice-col">
                                <address>
                                    Status: {{games.status}} <br>
                                    Pot: {{games.pot}}<br>
                                    <br>
                                </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <address>
                                    Game Start Time: {{gameDates.createdAt}} <br>
                                    Game End Time: {{gameDates.updatedAt}}<br>
                                    Game Duration: {{gameDates.gameDuration}} Minutes
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Players</h3>
                            <div class="pull-right">
                                <h5>Total Player: {{players.length}}</h5>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player Name</th>
                                            <th>Chips</th>
                                            <th>Status</th>
                                            <!-- <th>ProfilePicId</th>
                                    <th>SeatIndex</th>
                                    <th>AllIn</th>
                                    <th>AutoBuyin</th>
                                    <th>DefaultActionCount</th>
                                    <th>Blind</th>
                                    <th>SideshowRequested</th>
                                    <th>BuyInAmount</th> -->
                                            <th>Player Cards</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if players.length==0 %}
                                        <tr>
                                            <td colspan="4" class="text-center">No Player data Available</td>
                                        </tr>
                                        {% else %} {% for player in players %}
                                        <tr>
                                            {% if player.uniqId %}
                                            <td>{{ player.playerName }} - ({{player.uniqId}})</td>
                                            {% else %}
                                            <td>{{ player.playerName }}</td>
                                            {% endif %}
                                            <td>{{ (player.chips)}}</td>
                                            <td>{{ player.status }}</td>
                                            <!-- <td>{{ player.profilePicId }}</td>
                                            <td>{{ player.seatIndex }}</td>
                                            <td>{{ player.allIn }}</td>
                                            <td>{{ player.autoBuyin }}</td>
                                            <td>{{ player.defaultActionCount }}</td>
                                            <td>{{ player.blind }}</td>
                                            <td>{{ player.sideshowRequested }}</td>
                                            <td>{{ player.buyInAmount }}</td> -->
                                            <td>{{ player.cards|safe }}</td>
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Board</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="col-xs-12" style="overflow: auto;white-space: nowrap;">
                                <table class="table table-bordered table-striped">
                                    {% if games.board.length==0 %}
                                    <tr>
                                        <td colspan="4" class="text-center">No board data Available</td>
                                    </tr>
                                    {% else %} {% for game in games.board %}
                                    <tbody>
                                        <tr>
                                            {{ game|safe }}
                                        </tr>
                                    </tbody>
                                    {% endfor %} {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Winner</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player Name</th>
                                            <th>Chips</th>
                                            <th>Type</th>
                                            <th>Best Cards</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if winners.length==0 %}
                                        <tr>
                                            <td colspan="4" class="text-center">No Winner data Available</td>
                                        </tr>
                                        {% else %} {% for winner in winners %}
                                        <tr>
                                            {% if winner.uniqId %}
                                            <td>{{ winner.playerName }}-({{winner.uniqId}})</td>
                                            {% else %}
                                            <td>{{ winner.playerName }}</td>
                                            {% endif %}
                                            <td>{{ winner.chips }}</td>
                                            <td>{{ winner.winningType }}</td>
                                            <td>{{ winner.bestCards|safe }}</td>
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#
<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Deck</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    {% if games.deck.length==0 %}
                                    <tr>
                                        <td colspan="4" class="text-center">No Deck data Available</td>
                                    </tr>
                                    {% else %} {% for game in games.deck %}
                                    <tbody>
                                        <tr>
                                            {{ game|safe }}
                                        </tr>
                                    </tbody>
                                    {% endfor %} {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#} {% if Agent.role=='admin' %}
<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">History</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player Name</th>
                                            <th>Bet Amount</th>
                                            <th>Total Bet Amount</th>
                                            <th>Total Pot</th>
                                            <th>Action</th>
                                            <th>Remaining</th>
                                            <th>Round</th>
                                            <th>Board Cards</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for history in historys %}
                                        <tr>
                                            <td>{{ history.playerName }}</td>
                                            <td>{{ (history.betAmount).toFixed(2) }}</td>
                                            {% if history.totalBetAmount !="-" %}
                                            <td>{{ (history.totalBetAmount).toFixed(2) }}</td>
                                            {%else %}
                                            <td>{{ history.totalBetAmount }}</td>
                                            {%endif%}
                                            <td>{{ history.totalPotValue }}</td>
                                            <td>
                                                {% if history.playerAction == '0' %} SmallBlind {% elif history.playerAction == '1' %} BigBlind {% elif history.playerAction == '2' %} Check {% elif history.playerAction == '3' %} Bet {% elif history.playerAction == '4' %} Call {% elif history.playerAction
                                                == '6' %} Fold {% elif history.playerAction == '8' %} AllIn {% elif history.playerAction == '10' %} Revert Chips {% endif %}
                                            </td>
                                            <td>{{ history.remaining }}</td>
                                            <td>{{ history.gameRound }}</td>
                                            <td>
                                                {% for boardCard in history.boardCard %} {{boardCard |safe}} &nbsp; {% endfor %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Distribution</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Type Distribution</th>
                                            <th>Action</th>
                                            <th>Deposit/Withdraw</th>
                                            <th>Chips</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in distribution %}
                                        <tr>
                                            <td>{{ data.name }}</td>
                                            <td>{{ data.action }}</td>
                                            {% if data.type == 'Deposit' %}
                                            <td style="color:green">{{ data.type }}</td>
                                            <td style="color:green">{{ (data.chips).toFixed(2) }}</td>
                                            {%else %}
                                            <td style="color:red">{{ data.type }}</td>
                                            <td style="color:red">{{ (data.chips).toFixed(2) }}</td>
                                            {% endif %} {#
                                            <td>
                                                {% if history.playerAction == '0' %} SmallBlind {% elif history.playerAction == '1' %} BigBlind {% elif history.playerAction == '2' %} Check {% elif history.playerAction == '3' %} Bet {% elif history.playerAction == '4' %} Call {% elif history.playerAction
                                                == '6' %} Fold {% elif history.playerAction == '8' %} AllIn {% elif history.playerAction == '10' %} Revert Chips {% endif %}
                                            </td> #}
                                        </tr>
                                        {% endfor %}
                                        <td>total Remaining Chips</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{remaining_Chips}}</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Rake Distribution</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player Name</th>
                                            <th>Bet Amount</th>
                                            <th>Rake {% if games.rakeDistribution.length %} {% if games.rakeCap[0].totalRackOfGame %} {% if games.adminExtraRakePercentage > 0 %} @ {{games.rakeCap[0].totalRackOfGame}} + {{games.adminExtraRakePercentage}} %
                                                {%else%} @ {{games.rakeCap[0].totalRackOfGame}} {% endif %} {%else%} {% if games.adminExtraRakePercentage > 0 %} {{games.rakePercenage}} % + {{games.adminExtraRakePercentage}} % {%else%} {{games.rakePercenage}}
                                                % {% endif %} {% endif %} {% endif %} </th>
                                            {% for agents in AgentsRole %}
                                            <th>{{agents.role}}</th>
                                            {% endfor %} {#
                                            <th>Child Agent</th>
                                            <th>Agent</th>
                                            <th>Master</th>
                                            <th>Admin</th> #}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for rack in RackDeduction %}
                                        <tr>
                                            <td>{{ rack.playerName }}</td>
                                            <td>{{ rack.bets }}</td>
                                            <td>{{ rack.plrRake }}</td>
                                            {% for agents in AgentsRole %} {% set flag = true %} {% for agentRake in rack.agentRake %} {% if agentRake.role == agents.role %} {% set flag = false %} {% set field1 = agentRake.rackTo + " - ( " + agentRake.rackPercent + "% )" + " - (" + agentRake.name
                                            + ")" %}
                                            <td>{{field1}}</td>
                                            {% endif %} {% endfor %} {% if flag == true %}
                                            <td></td>
                                            {% endif %} {% endfor %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <td></td>
                                        <td>{{totalBet}}</td>
                                        <td>{{totalRakes}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %} {% endblock %} {% block Jscript %}
<script>
</script>
{% endblock %}