{% extends "partition/layout.html" %} {% block body %}
<!-- Main Content -->

<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Login History</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <input type="hidden" id="playerId" value="{{playerId}}">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Ip</th>
                                            <th>Client</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Ip</th>
                                            <th>Client</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        var playerId = $('#playerId').val();
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search Ip"
            },
            // "scrollX": true,
            "processing": true,
            "serverSide": true,
            // "searching": false,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            "ajax": host + "/player/getLoginHistory/" + playerId,
            "columns": [
                // { "data": "_id" },
                {
                    "data": "date"
                }, {
                    "data": "ip"
                }, {
                    "data": "client"
                },

            ]
        });
    });
</script>
{% endblock %}