{% extends "partition/layout.html" %} {% block body %}

<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Agents</h3>
                            <div class="pull-right">
                                <h5>{{agent.email}} ( {{agentRole}} )</h5>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Commission</th>
                                            <th>Rake Chips</th>
                                            <th>Chips</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Commission</th>
                                            <th>Rake Chips</th>
                                            <th>Chips</th>
                                            <th>Status</th>
                                            <th>Created At</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Players</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="playerTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>UniqID</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Chips</th>
                                            <th>Status</th>
                                            <!-- <th>is Bot</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>UniqID</th>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Chips</th>
                                            <th>Status</th>
                                            <!-- <th>is Bot</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Main Content -->
<section class="content">
    <!-- Row -->
    <div class="row">
        <!-- /.modal -->
        <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" name="adduser" action="/player/chipsAdd">
                        <div class="modal-header">
                            <h5 class="modal-title">Add / Deduct Chips</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                        </div>
                        <div class="modal-body">
                            <div id="chipsAdd"> </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label mb-10">Chips:</label>
                                <input type="text" name="chips" class="form-control" id="recipient-name" required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" name="chipsValue" class="btn btn-success" value="Add">
                            <input type="submit" class="btn btn-danger" name="chipsValue" value="Deduct">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
    </div>
    <!-- /Row -->
</section>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        let ajaxUrl = host + "/agent/{{agentId}}/getAgentStats";
        let playerAjaxUrl = host + "/agent/{{agentId}}/getPlayerStats";

        let agentLevel = "{{agentLevel}}";
        let is_admin = "{{is_admin}}";
        console.log("agentlevel", agentLevel);
        if (agentLevel <= 100) {
            $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "Search By Email"
                },
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "autoWidth": false,
                "pageLength": 10,
                "ajax": ajaxUrl,
                "columns": [{
                    "data": "_id",
                    render: function(data, type, row) {
                        let checkbox = row.temp_chips_checkbox == true ? 'checked' : ''
                        let CheckBoxValue = row.temp_chips_checkbox == true ? true : false

                        let value = '<input type="checkbox" name="temp_checkbox" value="" class="temp_checkbox" id="' + row._id + '" ' + checkbox + '>'
                        return value
                    }
                }, {
                    "data": "username"

                }, {
                    "data": "email"
                }, {
                    "data": "commission"
                }, {
                    "data": "rake_chips",
                    render: function(data, type, row) {
                        return parseFloat(row.rake_chips).toFixed(2);
                    }
                }, {
                    "data": "chips",
                    render: function(data, type, row) {
                        return parseFloat(row.chips).toFixed(2);
                    }
                }, {
                    "data": "status"
                }, {
                    "data": "createdAt",
                    render: function(data, type, row) {
                        let dt = new Date(row.createdAt);
                        let date = dt.getDate();
                        let month = parseInt(dt.getMonth() + 1);
                        let year = dt.getFullYear();
                        let hours = dt.getHours();
                        let minutes = dt.getMinutes();
                        let ampm = hours >= 12 ? 'pm' : 'am';
                        hours = hours % 12;
                        hours = hours ? hours : 12;
                        minutes = minutes < 10 ? '0' + minutes : minutes;
                        let createdAt = year + '/' + month + '/' + date + ' ' + hours + ':' + minutes + ' ' + ampm;
                        return createdAt;
                    }
                }, {
                    "data": "action",
                    render: function(data, type, row) {
                        let active = 'Unblock';
                        if (row.status == 'active') {
                            active = 'Block';
                        } else {
                            active = 'Unblock';
                        }
                        let icon = row.status == 'active' ? 'fa fa-lock' : 'fa fa-unlock'
                        let transferStatus = row.isTransfer == true ? 'Is Not Chips Transfer' : 'Is Chips Transfer'
                        let liAction = '<li><a href="/agentEdit/' + row._id + '" title="Edit Agent" class="btn-success-main"><i class="fa fa-edit" aria-hidden="true"></i>Edit Profile</a></li>'
                        liAction += '<li><a href="/agent/rack/' + row._id + '"  class="btn-success-main"><i class="fa fa-history" aria-hidden="true"></i>Rake History</a></li>'
                        liAction += '<li><a href="JavaScript:Void(0);" id="' + row._id + '" class="btn-success-main agentActive"><i class="' + icon + '" aria-hidden="true"></i>' + active + '</a></li>'
                        ReturnAction = '<div class="btn-group pull-right" style="width:-webkit-fill-available;"><button type="button" class="btn btn-primary-main btn-sm dropdown-toggle" data-toggle="dropdown" style="width:-webkit-fill-available;"> Action <span class="caret"> </span></button><ul class="dropdown-menu" role="menu">' + liAction + '</ul></div>'

                        return ReturnAction;

                    }
                }]
            });

            $('body').on('click', '.temp_checkbox', function(e) {
                var id = $(this).attr('id');
                var thisElement = this;
                swal({
                    title: "Are you sure?",
                    text: "You will not be able to chips transfer automatically",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#e69a2a",
                    confirmButtonText: "Yes, transfer it!",
                    cancelButtonText: "No, cancel it!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function(isConfirm) {
                    if (isConfirm) {
                        $(thisElement).hide();
                        let message = $('#' + id).is(":checked") == true ? 'From now your chips will be added in main amount chips' : 'From now you chips will be added in temp amount balance'

                        $.ajax({
                            type: 'POST',
                            url: host + "/agent/tempChipsCheckbox",
                            data: {
                                id: id,
                                temp_chips_checkbox: $('#' + id).is(":checked")
                            },
                            success: function(response) {
                                if (response.status == 'success') {
                                    swal("Transfer", "Chips transfer status chnage succesfully", "success");
                                    window.location.reload()
                                        //swal("Transfer", message, "success");
                                } else {
                                    alert('Chips transfer message not change');
                                }
                            }
                        });
                    } else {
                        swal("Cancelled", "Agent status change cancel", "error");
                    }
                });
            });

            $('body').on('click', '.agentTransfer', function(e) {
                var id = $(this).attr('id');
                var thisElement = this;
                swal({
                    title: "Are you sure?",
                    text: "Do you want to update the status?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#e69a2a",
                    confirmButtonText: "Yes, Update it!",
                    cancelButtonText: "No, cancel pls!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function(isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            url: host + "/agent/transfer",
                            data: {
                                id: id
                            },
                            success: function(resultData, data) {
                                console.log(data);
                                if (resultData == 'success') {
                                    location.reload();
                                    var changeText = 'Block';
                                    if ($(thisElement).parent().parent().find('td  .agentTransfer').text() == 'Block') {
                                        changeText = 'UnBlock';
                                    }
                                    console.log($(thisElement).parent().parent().find('td .agentTransfer').text(changeText));
                                    //$(thisElement).parent().parent().hide(700);
                                    // swal("Update!", "Player Status Updated Successfully..", "success");
                                } else {
                                    alert("Something went wrong")
                                }

                            }
                        });
                        swal("Success!", "Agent Status Updated Succesfully.", "success");
                        loadSlotOverAllCommission()

                    } else {
                        swal("Cancelled", "Agent Status not Updated)", "error");
                    }
                });
                return false;
            });
        }

        $('#playerTable').DataTable({
            "oLanguage": {
                "sSearch": "Search Email"
            },
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 10,
            "ajax": playerAjaxUrl,
            "dom": 'Bfrtip',
            "buttons": [
                'csv', 'excel'
            ],
            "columns": [

                {
                    "data": "uniqId"
                }, {
                    "data": "username"
                }, {
                    "data": "firstname"
                }, {
                    "data": "lastname"
                }, {
                    "data": "email"
                }, {
                    "data": "chips",
                    render: function(data, type, row) {
                        return parseFloat(row.chips).toFixed(2);
                    }
                }, {
                    "data": "status"
                }, {
                    "data": "action",
                    render: function(data, type, row) {
                        var active = 'Unblock';
                        if (row.status == 'active') {
                            active = 'Block';
                        } else {
                            active = 'Unblock';
                        }
                        var icon = row.status == 'active' ? 'fa fa-lock' : 'fa fa-unlock'
                        var liAction = '<li><a href="/playerEdit/' + row._id +
                            '" title="Edit Player" name="edit" class="btn-success-main"><i class="fa fa-edit" aria-hidden="true"></i>Edit Profile</a></li>';
                        liAction += '<li><a href="/player/chipsHistory/' +
                            row._id +
                            '" class=" btn-success-main" title="Chips History"><i class="fa fa-history" aria-hidden="true"></i>Cash History</a></li><li><a href="/player/loginHistory/' +
                            row._id +
                            '" class=" btn-success-main" title="Chips History"><i class="fa fa-sign-in" aria-hidden="true"></i>Login History</a></li><li><a href="/player/gameHistory/' +
                            row._id +
                            '" class=" btn-success-main" title="Chips History"><i class="fa fa-gamepad" aria-hidden="true"></i>Game History</a></li><li><a href="/player/profile/' +
                            row._id +
                            '" class=" btn-success-main" title="Chips History"><i class="fa fa-user" aria-hidden="true"></i>Player Profile</a></li>';
                        liAction += '<li><a href="JavaScript:Void(0);"  class="btn-success-main playerActive" id="' + row._id + '"><i class="' + icon + '" aria-hidden="true"></i>' + active + '</a></li>'
                        var onclick = "getChipsNote('" + row._id + "')";

                        let ReturnAction =
                            '<div class="btn-group pull-right" style="width:-webkit-fill-available;"><button type="button" class="btn btn-primary-main btn-sm dropdown-toggle" data-toggle="dropdown" style="width:-webkit-fill-available;"> Action <span class="caret"> </span></button><ul class="dropdown-menu" role="menu">' +
                            liAction + '</ul></div>'
                        return ReturnAction;
                        // <button type="button" title="Delete Player" name="delete" id="'+row._id+'" class="btn btn-danger btn-xs btn-rounded delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    }
                }
            ]
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    if (agentLevel <= 100) {
                        //Parameter
                        $('body').on('click', '.delete', function(e) {
                            var id = $(this).attr('id');
                            var thisElement = this;
                            swal({
                                title: "Are you sure?",
                                text: "You will not be able to recover this Agent!",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#e69a2a",
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel plx!",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function(isConfirm) {
                                if (isConfirm) {
                                    $.ajax({
                                        type: 'POST',
                                        url: host + "/agent/getAgentDelete",
                                        data: {
                                            id: id
                                        },
                                        success: function(resultData) {
                                            // alert(resultData)
                                            console.log(resultData);
                                            if (resultData == 'success') {
                                                $(thisElement).parent().parent().hide(700);
                                                swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                            } else {
                                                alert("Something went wrong")
                                            }
                                            // alert("Save Complete")
                                        }
                                    });
                                    swal("Deleted!", "Agent Deleted Succesfully.", "success");
                                } else {
                                    swal("Cancelled", "Agent Not Deleted)", "error");
                                }
                            });
                            return false;
                        });

                        // Active & Deactive

                        $('body').on('click', '.agentActive', function(e) {
                            var id = $(this).attr('id');
                            var thisElement = this;
                            swal({
                                title: "Are you sure?",
                                text: "Do you want to update the status?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#e69a2a",
                                confirmButtonText: "Yes, Update it!",
                                cancelButtonText: "No, cancel pls!",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            }, function(isConfirm) {
                                if (isConfirm) {
                                    $.ajax({
                                        type: 'POST',
                                        url: host + "/agent/active",
                                        data: {
                                            id: id
                                        },
                                        success: function(resultData, data) {
                                            console.log(data);
                                            if (resultData == 'success') {

                                                var changeText = 'Block';

                                                if ($(thisElement).parent().parent().find('.agentActive').text() == 'Block') {
                                                    changeText = 'Unblock';
                                                }

                                                let icon = changeText == 'Block' ? 'fa fa-unlock' : 'fa fa-lock';

                                                $(thisElement).parent().parent().find('.agentActive').html('<i class="' + icon + '" aria-hidden="true"></i>' + changeText);
                                            } else {
                                                alert("Something went wrong")
                                            }

                                        }
                                    });
                                    swal("Success!", "Agent Status Updated Succesfully.", "success");
                                } else {
                                    swal("Cancelled", "Agent Status not Updated)", "error");
                                }
                            });
                            return false;
                        });
                    }

                    //Parameter
                    $('body').on('click', '.playerDelete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this Player!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel plx!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/player/getPlayerDelete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().hide(700);
                                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Player Deleted Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Player Not Deleted)", "error");
                            }
                        });
                        return false;
                    });

                    // Active & Deactive

                    $('body').on('click', '.playerActive', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "Do you want to update the status?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, Update it!",
                            cancelButtonText: "No, cancel pls!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/player/active",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData, data) {
                                        console.log(data);
                                        if (resultData == 'success') {

                                            var changeText = 'Block';

                                            if ($(thisElement).parent().parent().find('.playerActive').text() == 'Block') {
                                                changeText = 'Unblock';
                                            }

                                            let icon = changeText == 'Block' ? 'fa fa-unlock' : 'fa fa-lock';

                                            $(thisElement).parent().parent().find('.playerActive').html('<i class="' + icon + '" aria-hidden="true"></i>' + changeText);



                                            //location.reload();
                                            // var changeText = 'Block';
                                            // if ($(thisElement).parent().parent().find('.playerActive').text() == 'Block') {
                                            //     changeText = 'Active';
                                            // }
                                            // console.log($(thisElement).parent().parent().find('.playerActive').text(changeText));
                                            //$(thisElement).parent().parent().hide(700);
                                            //swal("Update!", "Player Status Updated Successfully..", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }

                                    }
                                });
                                swal("Success!", "Player Status Updated Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Player Status not Updated)", "error");
                            }
                        });
                        return false;
                    });



                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

        $("body").on("click", ".addChips", function() {
            var PlayerId = $(this).attr("id");
            //console.log("player id ----------->",PlayerId)
            var html = '<input type="hidden" name="playerId" value="' + PlayerId + '" />';
            $("#chipsAdd").html(html);
        });


    });
</script>
{% endblock %}