{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <h1>Agent table </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li href="/Agents">Agent</li>
                {% if agent %}
                <li class="active">Edit Agent</li>
                {% else %}
                <li class="active">Add Agent</li>
                {% endif %}
            </ol>
        </section>
        <!-- /Title -->

        <section class="content">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                {% if agent %}
                                <h6 class="panel-title txt-dark">Edit Agent</h6>
                                {% else %}
                                <h6 class="panel-title txt-dark">Add Agent</h6>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        {% if agent %}
                                        <form method="POST" action="/agentEdit/{{agent._id}}" name="adduser" class="form-horizontal">
                                            {% else %}
                                            <form method="POST" action="/addAgent" name="adduser" class="form-horizontal">
                                                {% endif %}
                                                <table border="0" class="table display  pb-30">
                                                    <div class="col-sm-6">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="username">Username:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="username" placeholder="Enter username" required name="username" value="{{agent.username}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="Username is required">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="password">Password:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="password" class="form-control" id="password" placeholder="Enter password" data-minlength="6" name="password" value="{{agent.password}}" data-validation="length" data-validation-length="min6">
                                                                    </div>
                                                                </div>

                                                                <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="firstname">Firstname:</label>
																	<div class="col-sm-10">
																		<input type="text" class="form-control" id="firstname" placeholder="Enter firstname" required name="firstname" value="{{agent.firstname}}" data-validation="length alphanumeric" 
																		data-validation-length="" 
																		data-validation-error-msg="Firstname is required">
																	</div>
																</div> -->
                                                                <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="lastname">Lastname:</label>
																	<div class="col-sm-10">
																		<input type="text" class="form-control" id="lastname" placeholder="Enter lastname" required name="lastname" value="{{agent.lastname}}" data-validation="length alphanumeric" 
																		data-validation-length="" 
																		data-validation-error-msg="Lastname is required">
																	</div>
																</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body">
                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="mobile">Mobile:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="mobile" placeholder="Enter mobile" required="" name="mobile" value="{{agent.mobile}}" data-validation="number">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="email">Email:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" {{ "readonly disabled" if agent else "" }} required placeholder="Enter Email" name="email" id="email" value="{{agent.email}}" data-validation="email">
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="form-group">
																	<label class="control-label mb-10 col-sm-2" for="commission">Commission:</label>
																	<div class="col-sm-10">
																		<input type="text" class="form-control" id="commission" placeholder="Enter Agents Commission" required="" name="commission" value="{{agent.commission}}" data-validation="number,required"
																	    
																	    data-validation-allowing="range[1;100],float"
																	    data-validation-error-msg="Commision can't be empty or greater than 100%"
																	    >
																	</div>
																</div> -->
                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="commission">Commission</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" id="commission" name="commission">
																			<option selected="selected" value="">Commission</option>  
																			{% for item in agentCommision %}
																			<option value="{{ item }}" {% if  item == agent.commission %} selected {% endif %}  >{{ item }}
																			</option>
																			{% endfor %}
																		</select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label mb-10 col-sm-2" for="status">Status:</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" name="status" id="status">
																			<option value="active" {{ "selected" if agent.status=='active' else "" }} >Active</option>
																			<option value="Block" {{ "selected" if agent.status=='Block' else "" }} >Block</option>
																		</select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="pull-right">
                                                                <input type="submit" class="btn btn-success btn-flat" value="submit">
                                                                <a href="/agents" class="btn btn-danger btn-flat">Cancel</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Row -->
    </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
    });
</script>
{% endblock %}