{% extends "partition/layout.html" %}

{% block body %}

	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container-fluid">
			<!-- Title -->
			<section class="content-header">
					<h1>Agent Table</h1>
					<ol class="breadcrumb">
							<li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
							<li class="active" href="/agents">My Chips Transactions</li>
					</ol>
			</section>
			<!-- /Title -->
			{% include "partition/notification.html" %}
			<!-- Row -->
			<section class="content">
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">Transactions</h6>
								</div>
								<div class="pull-right">
									<!-- {% if agentLevel < 4 %}
									<a href="/addAgent"><button type="button" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> Add Agent</button></a>
									{% endif %} -->
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div class="table-responsive">
											<table id="myTable" class="table table-bordered table-striped">
												<thead>
													<tr>
														<th>Tx.Number</th>
														<th>Provider Email</th>
														<th>Chips</th>
														<th>Before Balance</th>
														 <th>After Balance</th> 
														<th>Type</th>
														<th>Status</th>
														<th>Date</th>
														<!-- <th>Action</th> -->
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Request MOney -->
			<section class="content">
				<!-- Row -->
				<div class="row">
						<!-- /.modal -->
						<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
							<div class="modal-dialog">
								<div class="modal-content">
								<form method="POST" name="adduser" action="/agent/requestCash">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h5 class="modal-title">Add/Deduct Cash</h5>
									</div>
									<div class="modal-body">
									<div id="requestCash"> </div>
											<div class="form-group">
												<label for="recipient-name" class="control-label mb-10">Cash:</label>
												<input type="text" name="chips" class="form-control" id="action_chips" required>
												<span class="help-block form-error" id="displayError" style="display: none;">The input value was not a correct number</span>
											</div>
										
									</div>
									<div class="modal-footer">
										<input type="submit" name="requestType" class="btn btn-success playerChipsAction" value="Add">
										<input type="submit" class="btn btn-danger playerChipsAction" name="requestType" value="Deduct">
									</div>
								</form>
								</div>
							</div>
						</div>
						<!-- Button trigger modal -->
				</div>
				<!-- /Row -->
			</section>	
		</div>
	</div>
	

{% endblock %}

{% block Jscript %}
<script>

$(document).ready( function () {
	var host = window.location.origin;
	
	let ajaxUrl = host + "/my-chips-Transactions/getPlayersTransactions/{{ playerId }}";
	
	console.log(ajaxUrl);
	$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Email"
		},
		"processing": true,
		"serverSide": true,
		"ordering": false,
		"autoWidth": false,
		"pageLength": 10,
		"ajax": ajaxUrl,
		"columns": [
			{ "data": "transactionNumber" },
			{ "data": "providerEmail" },
			{ "data": "chips" },
			{ "data": "beforeBalance" },
			{ "data": "afterBalance" },
		  	{ "data": "type",
				render: function(data,type,row){
					if(row.type == 'deposit'){
						return "<p style='color:green;'>"+row.type+"</p>";
					}else{
						return "<p style='color:red;'>"+row.type+"</p>";
					}
				  
			 	} 
			},
		  	{ "data": "status" },
			{ "data": "createdAt",
				render: function(data,type,row){
				  let dt = new Date(row.createdAt);
			      let date = dt.getDate();
			      let month = parseInt(dt.getMonth()+1);
			      let year = dt.getFullYear();
			      let hours = dt.getHours();
			      let minutes = dt.getMinutes();
			      let ampm = hours >= 12 ? 'pm' : 'am';
			      hours = hours % 12;
			      hours = hours ? hours : 12;
			      minutes = minutes < 10 ? '0'+ minutes : minutes;
			      let createdAt = year + '/' + month + '/' + date + ' ' + hours + ':' + minutes + ' ' + ampm;
			      return createdAt;
			 	}
			},
			/*{
				"data": "action",
				render : function(data, type, row){
					return '<a href="/agentEdit/'+row._id+'"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Agent"><i class="fa fa-edit" aria-hidden="true"></i></button></a><button type="button" name="active" id="'+row._id+'" class="btn btn-success btn-xs agentActive btn-rounded">'+row.status+'</i></button><a href="/agent/rack/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Rack History"><i class="fa fa-history" aria-hidden="true"></i></a><a data-toggle="modal" data-target="#responsive-modal" class="btn btn-default btn-xs addChips btn-rounded" id="'+row._id+'" title="Request Cash"><i class="fa fa-dollar" aria-hidden="true"></i></a>'
		
				}
			}*/
		]
	});

	$(function() {
		"use strict";

		var SweetAlert = function() {};

		SweetAlert.prototype.init = function() {

			//Parameter
			$('body').on('click', '.delete', function(e){
				var id = $(this).attr('id');
				var thisElement = this;
					swal({
							title: "Are you sure?",
							text: "You will not be able to recover this Agent!",
							type: "warning",
							showCancelButton: true,
							confirmButtonColor: "#e69a2a",
							confirmButtonText: "Yes, delete it!",
							cancelButtonText: "No, cancel plx!",
							closeOnConfirm: false,
							closeOnCancel: false
					}, function(isConfirm){
							if (isConfirm) {
								$.ajax({
									type: 'POST',
									url: host + "/agent/getAgentDelete",
									data: {id: id},
									success: function(resultData) {
										// alert(resultData)
										console.log(resultData);
										if (resultData == 'success') {
											$(thisElement).parent().parent().hide(700);
											swal("Deleted!", "Your imaginary file has been deleted.", "success");
										}else {
												alert("Something went wrong")
										}
										// alert("Save Complete")
									}
								});
									swal("Deleted!", "Agent Deleted Succesfully.", "success");
							} else {
									swal("Cancelled", "Agent Not Deleted)", "error");
							}
					});
					return false;
			});


			// Active & Deactive

			$('body').on('click', '.agentActive', function(e){
					var id = $(this).attr('id');
					var thisElement = this;
						swal({
								title: "Are you sure?",
								text: "Do you want to update the status?",
								type: "warning",
								showCancelButton: true,
								confirmButtonColor: "#e69a2a",
								confirmButtonText: "Yes, Update it!",
								cancelButtonText: "No, cancel pls!",
								closeOnConfirm: false,
								closeOnCancel: false
						}, function(isConfirm){
								if (isConfirm) {
									$.ajax({
										type: 'POST',
										url: host + "/agent/active",
										data: {id: id},
										success: function(resultData , data) {
											console.log(data);
											if (resultData == 'success') {
												//location.reload();
												var changeText = 'active';
												if( $(thisElement).parent().parent().find('td  .agentActive').text() == 'active' ){
													changeText = 'Block';
												}
												console.log( $(thisElement).parent().parent().find('td .agentActive').text(changeText) );
												//$(thisElement).parent().parent().hide(700);
												//swal("Update!", "Player Status Updated Successfully..", "success");
											}else {
													alert("Something went wrong")
											}
											
										}
									});
										swal("Success!", "Agent Status Updated Succesfully.", "success");
								} else {
										swal("Cancelled", "Agent Status not Updated)", "error");
								}
						});
						return false;
			});

	
		},
		$.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

		$.SweetAlert.init();
	});

	$("body").on("click", ".addChips", function(){
		var agentId = $(this).attr("id");
		// console.log("player id ----------->",PlayerId)
		var html = '<input type="hidden" name="agentId" value="'+agentId+'" />';
		$("#requestCash").html(html);
	});

	$("body").on("click", ".playerChipsAction", function(){alert("here")
		var action_chips = $('#action_chips').val();
		if (action_chips < 0 || isNaN(action_chips) || (action_chips % 1 !== 0)) {
			document.getElementById( 'displayError' ).style.display = 'block';
			document.getElementById( 'displayError' ).style.color = 'red';
		    return false;
		}
	});

	
} );

</script>
{% endblock %}
