<!DOCTYPE html>
<html lang="en">
<div id="loading">
    <div class="loader">
    </div>
</div>
{% include "partition/head.html" %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="main-body">
        {% include "partition/header.html" %} {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="main-footer footer">
            <div class="container">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 4.5.0
                </div>
                <strong>Copyright &copy; 2020 <a href="/">White Poker</a>.</strong> All rights reserved.
            </div>
        </footer>
        <!-- /Footer -->
    </div>
    {% include "partition/footer.html" %} {% block Jscript %}{% endblock %}
</body>

</html>