{% extends "partition/layout.html" %} {% block body %}
<style type="text/css">
    table.table-bordered {
        border: 1px solid black;
    }
    
    table.table-bordered>thead>tr>th {
        border: 1px solid black;
    }
    
    table.table-bordered>tbody>tr>td {
        border: 1px solid black;
    }
    
    table.table-bordered>tbody>tr>th {
        border: 1px solid black;
    }
</style>
<div class="container nav_drop_menu" id="Tournaments">
    <ul>
        <li class="text_container">
            <a href="/regular-tournament">
                <div class="name">Regular Tournament</div>
            </a>
        </li>
        <li class="text_container">
            <a href="/sng-tournament">
                <div class="name">Sit & Go Tournament</div>
            </a>

        </li>
        <li class="text_container">
            <a class="active" href="/price-pool/regulartournament">
                <div class="name">Payout Chart Regular</div>
            </a>
        </li>
        <li class="text_container">
            <a href="/price-pool/sngtournament">
                <div class="name">Payout Chart SNG</div>
            </a>

        </li>
    </ul>
</div>
<!-- Main Content -->
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
								<img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
								<h3 class="panel-title">Payout Chart</h3>
								<div class="pull-right">
									<a href="/price-pool/regularTournament/add"><button class="table_btn"><i
												class="fa fa-plus"></i> Add Prizepool</button></a>
								</div>
							</span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <!-- <div class="table-responsive">	
										<table class="table table-sm">
											<thead>
												<tr>
												  <th rowspan="2" valign="middle">Place</th> 	
												  {% for pl in pricepool %}
														<th scope="col">{{pl.minPlayers}} - {{pl.maxPlayers}}</th>
												  {% endfor %} 
												</tr>
											  </thead> 
											<tbody> 
													
												{% for place in winner_places %}
													<tr> 
														 <th scope="row">{{place}}</th>
														 {% for pl in pricepool %}
															 <td>{{pl[place]}}</td>
														 {% endfor %} 
													</tr>
												{% endfor %}
	
											</tbody>
										 </table>
									</div> -->
                                <div class="table-responsive">
                                    <table class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" valign="middle">Place</th>
                                                <th colspan="11" abbr="">Number of players</th>
                                            </tr>
                                            <tr>
                                                {% for pl in pricepool %}
                                                <th scope="col">{{pl.minPlayers}} - {{pl.maxPlayers}}</th>
                                                {% endfor %}

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {#
                                            <tr>
                                                <th scope="row">IsFreeRoll</th>
                                                {% for pl in pricepool %} {%if pl.isFreeRoll == true %}
                                                <th scope="col">Yes</th>
                                                {% else %}
                                                <th scope="col">No</th>
                                                {% endif %} {% endfor %}
                                            </tr> #} {% for place in winner_places %}

                                            <tr>
                                                <th scope="row">{{place | replace("place_", "") | replace("_", "-")}}
                                                </th>
                                                {% for pl in pricepool %} {% if place == 'Action' %}

                                                <td><a href="/price-pool/regularTournament/edit/{{pl._id}}"><button
																type="button" class="btn btn-warning btn-xs btn-rounded"
																name="edit" title="Edit Pricepool"><i class="fa fa-edit"
																	aria-hidden="true"></i></button></a> <button type="button" name="delete" id="{{pl._id}}" class="btn btn-danger btn-xs delete btn-rounded"><i
																class="fa fa-trash" aria-hidden="true"></i></button></td>

                                                {% else %}

                                                <td>{{pl[place]}}</td>

                                                {% endif %} {% endfor %}
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this Pricepool!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel plx!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/price-pool/regularTournament/delete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            location.reload();
                                            //$(thisElement).parent().parent().hide(700);
                                            //swal("Deleted!", "Your imaginary file has been deleted.", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Pricepool Deleted Succesfully.", "success");
                            } else {
                                swal("Cancelled", "Pricepool Not Deleted)", "error");
                            }
                        });
                        return false;
                    });
                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });


    });
</script>
{% endblock %}