{% extends "partition/layout.html" %}
{% block body %}
		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				<!-- Title -->
				<section class="content-header">
				    <h1>Game Table</h1>
				    <ol class="breadcrumb">
				        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
				        <li class="active" href="/game">Regular Games</li>
				    </ol>
				</section>
				<!-- /Title -->
				{% include "partition/notification.html" %}
				<!-- Row -->
				<section class="content">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Players</h6>
									</div>
									
									<div class="clearfix"></div>
								</div>
								
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="table-wrap">
											<div class="table-responsive">
												<table id="myTable" class="table table-bordered table-striped" >
													<thead>
														<tr>
															<th>Id</th>
															<th>Small Blind</th>
															<th>Big Blind</th>
															<th>STATUS</th>
															<th>Pot</th>
															<th>Date</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>	
			</div>
		</div>
		


{% endblock %}

{% block Jscript %}
<script>

$(document).ready( function () {
	var host = window.location.origin;
		
	$('#myTable').DataTable({
		"oLanguage": {
			"sSearch": "Search Game"
		},
		"processing": true,
		"serverSide": true,
		"ordering": false,
		"autoWidth": false,
		"pageLength": 10,
		"ajax": host + "/regular-tournament/game/{{gameId}}",
		"dom": 'Bfrtip',
		"buttons":[
			'csv', 'excel'
		],
		"columns": [
			// { "data": "_id" },
			{ "data": "gameNumber" },
			{ "data": "smallBlind" },
			{ "data": "bigBlind" },
			{ "data": "status" },
			{ "data": "pot" },
			{ "data": "createdAt",
				render: function(data,type,row){
				  let dt = new Date(row.createdAt);
			      let date = dt.getDate();
			      let month = parseInt(dt.getMonth()+1);
			      let year = dt.getFullYear();
			      let hours = dt.getHours();
			      let minutes = dt.getMinutes();
			      let ampm = hours >= 12 ? 'pm' : 'am';
			      hours = hours % 12;
			      hours = hours ? hours : 12;
			      minutes = minutes < 10 ? '0'+ minutes : minutes;
			      let createdAt = year + '/' + month + '/' + date + ' ' + hours + ':' + minutes + ' ' + ampm;
			      return createdAt;
			 	}
			}, {
				"data": "action",
				render : function(data, type, row){
					return '<a href="/game/allGameHistory/'+row._id+'" class="btn btn-info btn-xs btn-rounded" title="Game History"><i class="fa fa-history" aria-hidden="true"></i></a>'
				 
				}
			}
		]
	});
	

	
} );

</script>

  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

{% endblock %}
