{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="container nav_drop_menu" id="Tournaments">
    <ul>
        <li class="text_container">
            <a class="active" href="/regular-tournament">
                <div class="name">Regular Tournament</div>
            </a>
        </li>
        <li class="text_container">
            <a href="/sng-tournament">
                <div class="name">Sit & Go Tournament</div>
            </a>

        </li>
        <li class="text_container">
            <a href="/price-pool/regulartournament">
                <div class="name">Payout Chart Regular</div>
            </a>
        </li>
        <li class="text_container">
            <a href="/price-pool/sngtournament">
                <div class="name">Payout Chart SNG</div>
            </a>

        </li>
    </ul>
</div>
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Regular Tournament</h3>
                            <div class="pull-right">
                                <a href="/regular-tournament/addRegularTournament"><button class="table_btn"><i class="fa fa-plus"></i> Add Tournament</button></a>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <input type="hidden" id="gameType" name="gameType">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Speed</th>
                                            <th>Fee</th>
                                            <th>Status</th>
                                            <th>Starts In</th>
                                            <th>Registration Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Speed</th>
                                            <th>Fee</th>
                                            <th>Status</th>
                                            <th>Starts In</th>
                                            <th>Registration Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search By Name"
            },
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            "ajax": host + "/regular-tournament/getRegularTournament",
            "columns": [{
                    "data": "name"
                }, {
                    "data": "game_speed"
                }, {
                    "data": "fee"
                }, {
                    "data": "status"
                }, {
                    "data": "startsIn",

                    render: function(data, type, row) {

                        /* var d = new Date();
  var n = d.getUTCDate();
  var t = d.getUTCHours();
  var m = d.getUTCMinutes(); */

                        var date1 = new Date();
			console.log(date1);
                        let utcDate1 = new Date(
                            date1.getUTCFullYear(),
                            date1.getUTCMonth(),
                            date1.getUTCDate(),
                            date1.getUTCHours(),
                            date1.getUTCMinutes(),
                            date1.getUTCSeconds()
                        );

                        console.log("UTC ->", utcDate1);
			console.log("server date",date1);

                        var date2 = new Date(row.tournament_date_time); // 10:09 to
			console.log("databse date ", row.tournament_date_time);
			    console.log("date",date2);	
                        let utcDate2 = new Date(
                            date2.getUTCFullYear(),
                            date2.getUTCMonth(),
                            date2.getUTCDate(),
                            date2.getUTCHours(),
                            date2.getUTCMinutes(),
                            date2.getUTCSeconds()
                        );
                        console.log("tournament date utc", utcDate2);
                        if (utcDate1 >= utcDate2) {
                            return "-";
                        } else {
                            var one_day = 1000 * 60 * 60 * 24;
                            // Convert both dates to milliseconds
                            var date1_ms = utcDate1.getTime();
                            var date2_ms = utcDate2.getTime();
                            console.log(date1_ms);
                            console.log(date2_ms);
                            // Calculate the difference in milliseconds
                            var difference_ms = date2_ms - date1_ms;
                            //take out milliseconds
                            difference_ms = difference_ms / 1000;
                            var seconds = Math.floor(difference_ms % 60);
                            difference_ms = difference_ms / 60;
                            var minutess = Math.floor(difference_ms % 60);
                            difference_ms = difference_ms / 60;
                            var hours = Math.floor(difference_ms % 24);
                            var days = Math.floor(difference_ms / 24);
                            return startsIn = days + ' Days, ' + hours + ' Hours, ' + minutess + ' Minutes';
                        }
                    }
                },

                {
                    "data": "status",
                    render: function(data, type, row) {
                        var current = new Date();
                        var registration_start = new Date(row.register_from_date_time);
                        var tournamnet_start = new Date(row.tournament_date_time);
                        if (current < registration_start) {
                            return 'Not Started Yet'
                        } else if (tournamnet_start < current) {
                            return 'Closed'
                        } else if (registration_start <= current) {
                            return 'Started'
                        }

                    },
                },

                {
                    "data": "action",
                    render: function(data, type, row) {
                        return '<a href="/regular-tournament/editRegularTournament/' + row._id + '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit " aria-hidden="true"></i></button></a> <a href="/regular-tournament/report/' + row._id + '"><button type="button" class="btn btn-success btn-xs btn-rounded" name="Report"><i class="fa fa-file " aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' + row._id + '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
                    }
                }
            ]
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};
            SweetAlert.prototype.init = function() {
                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this Tournament!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel plx!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/regular-tournament/delete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent().parent().hide(700);
                                            swal("Deleted!", "Tournament status is cancel and this tournament is deleted.", "success");
                                        } else {
                                            alert("Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!", "Tournament Already Canceled.", "success");
                            } else {
                                swal("Cancelled", "Tournament Not Deleted", "error");
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
{% endblock %}
