{% extends "partition/layout.html" %} {% block body %}


<!-- Main Content -->


<!-- Main Content -->
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
							<img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
							{% if user %}
							<h3 class="panel-title">Edit User</h3>
							{% else %}
							<h3 class="panel-title">Add User</h3>
							{% endif %}
						</span>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            {% if user %}
                            <form method="POST" action="/userEdit/{{user._id}}" name="adduser" class="form-horizontal">
                                {% else %}
                                <form method="POST" action="/addUser" name="adduser" class="form-horizontal">
                                    {% endif %}
                                    <div class="form_table">
                                        <center>
                                            <div class="col-sm-8">
                                                <div class="panel-wrapper">
                                                    <div class="panel-body">
                                                        <input type="hidden" name="role" class="form-control" value="admin">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="username">Name* :</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="username" placeholder="Enter username" required name="username" value="{{user.name}}" data-validation="length alphanumeric" data-validation-length="" data-validation-error-msg="Username is required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="Role">Role* :</label>
                                                            <div class="col-sm-12">
                                                                <select class="form-control" name="admin_type" id="admin_type" required>
																	<option value="">- Select Role -</option>
																	<option value="admin"
																		{{ "selected" if user.admin_type=='admin' else "" }}>
																		Admin</option>
																	<option value="senioradmin"
																		{{ "selected" if user.admin_type=='senioradmin' else "" }}>
																		Accounted Admin</option>
																	<option value="regularadmin"
																		{{ "selected" if user.admin_type=='regularadmin' else "" }}>
																		Reporter</option>
																</select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="email">Email* :</label>
                                                            <div class="col-sm-12">
                                                                <input type="email" class="form-control" required {{ "readonly disabled" if user else "" }} placeholder="Enter Email" name="email" id="email" value="{{user.email}}">
                                                            </div>
                                                        </div>
                                                        {% if user %} {% else %}
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="password">Password* :</label>
                                                            <div class="col-sm-12">
                                                                <input type="password" class="form-control" id="password" placeholder="Enter password" data-minlength="6" name="password" value="{{user.password}}" data-validation="length" data-validation-length="min6">
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="status">Status:</label>
                                                            <div class="col-sm-12">
                                                                <select class="form-control" name="status" id="status">
																	<option value="active"
																		{{ "selected" if agent.status=='active' else "" }}>
																		Active</option>
																	<option value="Block"
																		{{ "selected" if agent.status=='Block' else "" }}>
																		Block</option>
																</select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 row form_footer">
                                                <div class="col-lg-6 form_footer_box">
                                                    <a href="/user" class="btn btn-danger form_btn">Cancel</a>
                                                </div>
                                                <div class="col-lg-6 form_footer_box">
                                                    <input type="submit" class="btn btn-success btn-poker form_btn" value="Submit">
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
    });
</script>
{% endblock %}
