{% extends "partition/layout.html" %} {% block body %}

<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Add Blocked Ip</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            {% if blockedIp %}
                            <form method="POST" action="/blockedIp/edit/{{blockedIp.id}}" class="form-horizontal" id="tableForm">
                                {% else %}
                                <form method="POST" action="/blockedIp/add" class="form-horizontal" id="tableForm">
                                    {% endif %}
                                    <div class="form_table">
                                        <center>
                                            <div class="col-sm-8">
                                                <div class="panel-wrapper">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="ip">IP:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="ip" placeholder="Enter Ip" name="ip" value="{{blockedIp.ip}}" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="status">Status:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="status" placeholder="Enter Status" name="status" value="{{blockedIp.status}}" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="flag">Flag:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="flag" placeholder="Enter flag value" name="flag" value="{{blockedIp.flag}}" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 row form_footer">
                                                <div class="col-lg-6 form_footer_box">
                                                    <a href="/blockedIp" class="btn btn-danger form_btn">Cancel</a>
                                                </div>
                                                <div class="col-lg-6 form_footer_box">
                                                    <input type="submit" class="btn btn-success btn-poker form_btn" value="Submit">
                                                </div>
                                            </div>
                                        </center>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
    });
    $.validate({
        form: '#tableForm',
        onSuccess: function($form) {
            $('#btnsubmit').val('Please wait ...')
                .attr('disabled', 'disabled');
            $('#btncancel').hide();
        }
    });
</script>
{% endblock %}