{% extends "partition/layout.html" %}


{% block body %}
<!-- Main Content -->
<div class="page-wrapper">
	<div class="container-fluid">

		<!-- Title -->
		<div class="row heading-bg">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h5 class="txt-dark">Add SitNgo Tournament</h5>
			</div>
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
					<li><a href="/">Dashboard</a></li>
					<li><a href="/regular-tournament/texas"><span>Regular Tournament</span></a></li>
					{% if room %}
					<li class="active"><span>Edit Regular Tournament</span></li>
					{% else %}
					<li class="active"><span>Add SiNGo Tournament</span></li>
					{% endif %}

				</ol>
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->

		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
						<div class="pull-left">
							{% if room %}
							<h6 class="panel-title txt-dark">Edit  Tournament</h6>
							{% else %}
							<h6 class="panel-title txt-dark">Add  Tournament</h6>
							{% endif %}
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="table-wrap">
								<div class="table-responsive">
									{% if room %}
									<form method="POST" action="/regular-tournament/postEditTexasRegular/{{room.id}}" class="form-horizontal">
										{% else %}
										<form method="POST" action="/sit-go-tournament/texas/postAddTexas" class="form-horizontal">
											{% endif %}
											 <div class="row">
											 
													<div class="col-sm-6">
													 	<div class="form-group">
															<label class="control-label mb-10 col-sm-4" for="mobile">Name</label>
															<div class="col-sm-8">
																<input required="required" class="form-control" data-validation="length alphanumeric" 
																data-validation-length="" 
																data-validation-error-msg="Username is required" data-validation-allowing=" " placeholder="Name"  name="name" type="text" id="" value="{{room.name}}">
															</div>
														</div>
														<div class="form-group">
															<label class="control-label mb-10 col-sm-4" for="mobile">Entry Fee</label>
															<div class="col-sm-8">
																<input required="required" class="form-control"   placeholder="fee"  name="fee" type="text" id="" value="0">
															</div>
														</div>
														<div class="form-group">
															<label class="control-label mb-10 col-sm-4" for="email">Speed</label>
															<div class="col-sm-8"> 
																<select class="form-control" name="gameType" id="type">
																	<option value="regular" {{ "selected" if room.type=='regular' else "" }} >Regular</option>
																	<option value="fast" {{ "selected" if room.type=='fast' else "" }} >Fast</option>
																	<option value="slow" {{ "selected" if room.type=='slow' else "" }} >Slow</option>
																</select>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label mb-10 col-sm-4" for="email">Is Limit</label>
															<div class="col-sm-8"> 
																<select class="form-control" name="limit" id="type">
																	<option value="limit" {{ "selected" if room.isLimitGame=='limit' else "" }} >Limit</option>
																	<option value="no_limit" {{ "selected" if room.isLimitGame=='no_limit' else "" }} >No Limit</option>
																	<option value="pot_limit" {{ "selected" if room.isLimitGame=='pot_limit' else "" }} >Pot Limit</option>
																</select>
															</div>
														</div>
 													</div>
														<div class="col-sm-6">
																<div class="form-group">
																		<label class="control-label mb-10 col-sm-4" for="username">Stacks</label>
																		<div class="col-sm-8">
																			<select required="required" class="form-control" id="" name="stacks">
																				{% for item in stacks %}
																				<option value="{{item.id}}" {{ "selected" if  item.minStack == room.smallBlind }}>{{ item.minStack }}/{{ item.maxStack }}</option>
																				
																				{% endfor %}
																			</select>
																</div>
																<div class="form-group">
																	<label class="control-label mb-10 col-sm-4" for="mobile">Start Time</label>
																	<div class="col-sm-8">
																		<input required="required" class="form-control"  placeholder="Time"  name="start_time" type="text" id="time" value="{{room.name}}" autocomplete="off">
																	</div>
																</div>

																	<div class="form-group">
																		<label class="control-label mb-10 col-sm-4" for="email">Register From</label>
																		<div class="col-sm-8"> 
																			<input required="required" class="form-control" placeholder="Register From"   name="register_from" type="text" id="register_from" value="{{player.register_from}}" autocomplete="off">
																		</div>
																	</div>
																	<div class="form-group">
																		<label class="control-label mb-10 col-sm-4" for="email">Tournament Date </label>
																		<div class="col-sm-8"> 
																			<input required="required" class="form-control" placeholder="Tournament Date"   name="tournament_date" type="text" id="tournament_date" value="{{player.tournament_date_time}}" autocomplete="off">
																		</div>
																	</div>
																</div>
															</div>
														</div>
														</div>
													<input type="submit" class="btn btn-success btn-lg" value="submit">
																<a href="/regular-tournament/texas" class="btn btn-info btn-lg">Cancel</a>
													</div>
												</div>
										 
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /Row -->
			</div>

			{% endblock %}

			{% block Jscript %}
			<script>
				$(document).ready( function () {
					var host = window.location.origin;
				} );

				$(function () {
			        // $("#buy_in_from").datepicker({dateFormat: 'yy-mm-dd'}).val();
			        // $("#date").datepicker({dateFormat: 'yy-mm-dd'}).val();
			        $('#time').clockpicker({
			            autoclose: true
			        });

			        $("#register_from").datepicker({
			              format: 'yyyy-mm-dd',
			              autoclose: true,
			              // endDate: 'today',
			        }).on('changeDate', function (selected) {
			            var startDate = new Date(selected.date.valueOf());
			            $('#tournament_date').datepicker('setStartDate', startDate);
			        }).on('clearDate', function (selected) {
			            $('#tournament_date').datepicker('setStartDate', null);
			        });
			        $("#tournament_date").datepicker({
			              format: 'yyyy-mm-dd',
			              autoclose: true,
			              // endDate: 'today',
			        }).on('changeDate', function (selected) {
			            var startDate = new Date(selected.date.valueOf());
			            $('#register_from').datepicker('setStartDate', startDate);
			        }).on('clearDate', function (selected) {
			            $('#register_from').datepicker('setStartDate', null);
			        });
			    });

				{# function calculatFee() { 

					var buy_in = $('#tex_buy_in').val();
					var entry_fee = $('#tex_entry_fee').val();

					if (buy_in != '' && entry_fee != '') {
						if ($.isNumeric(buy_in) && $.isNumeric(entry_fee)) {
							var feemain = parseFloat(buy_in) * (parseFloat(entry_fee) / 100);
							var fee = parseFloat(buy_in) + parseFloat(feemain);
							fee += ' (Buy-in : ' + buy_in + ' + ' + feemain + ' Entry Fee)';
							$('#tex_fee').val(fee);
						} else {
							// alert('Plese enter numeric value for buy-in and entry fee.');
						}
					}
				}
				function calculatOmhFee() { 

					var buy_in = $('#omh_buy_in').val();
					var entry_fee = $('#omh_entry_fee').val();

					if (buy_in != '' && entry_fee != '') {
						if ($.isNumeric(buy_in) && $.isNumeric(entry_fee)) {
							var feemain = parseFloat(buy_in) * (parseFloat(entry_fee) / 100);
							var fee = parseFloat(buy_in) + parseFloat(feemain);
							fee += ' (Buy-in : ' + buy_in + ' + ' + feemain + ' Entry Fee)';
							$('#omh_fee').val(fee);
						} else {
							// alert('Plese enter numeric value for buy-in and entry fee.');
						}
					}
				}

				calculatOmhFee();

				calculatFee(); #}


			</script>
			{% endblock %}
