{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="container">

    <div class="flash-msg" style="display: none;">
    </div>
    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
							<img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
							<h3 class="panel-title">Admin Profile</h3>
							<div class="pull-right">
								Request Chips : <a data-toggle="modal" data-target="#responsive-modal" class="table_btn btn-xs addChips" id="addChips" title="Request Cash"><i class="fa fa-dollar" aria-hidden="true"></i></a>
                            </div>
						</span>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <div class="col-md-12">
                                <div class="box box-primary">
                                    <div class="box-body box-profile">
                                        <center>
                                            <img class="profile-user-img  img-circle" src="/profile/user.png" alt="User profile picture">

                                            <h3 class="profile-username text-center">{{user.name}}
                                            </h3>
                                            <div class="box box-primary col-md-8">
                                                <!-- /.box-header -->
                                                <div class="form-wrap">
                                                    <form class="form-horizontal" action="/profile/changeAvatar" method="post" enctype="multipart/form-data">
                                                        <input type="hidden" name="id" value="{{user.id}}">
                                                        <div class="form-group">
                                                            <label for="avatar" class="col-sm-12 control-label">New Avatar</label>
                                                            <div class="col-sm-12">
                                                                <div class="input-group">
                                                                    <input type="file" class="form-control" id="avatar" name="avatar" required accept="image/*">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8 row form_footer">
                                                            <div class="col-lg-12 form_footer_box">
                                                                <input type="submit" class="btn btn-success btn-poker form_btn" value="Upload Avatar">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </center>

                                    </div>
                                    <!-- /.box-body -->
                                </div>

                            </div>
                            <center>
                                <div class="col-md-8">
                                    <div class="form-wrap">
                                        <form class="form-horizontal" action="/profile/update" method="post">
                                            <input type="hidden" name="id" value="{{user.id}}">
                                            <div class="form-group">
                                                <label for="exampleInputuname_3" class="col-sm-12 control-label">Fullname*</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="name" placeholder="Enter name" required name="name" value="{{user.name}}" data-validation="length required" data-validation-length="" data-validation-error-msg="Username is required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail_3" class="col-sm-12 control-label">Email*</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <input type="email" class="form-control" required name="email" id="email" value="{{user.email}}" data-validation="email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 row form_footer">
                                                <div class="col-lg-12 form_footer_box">
                                                    <input type="submit" class="btn btn-success btn-poker form_btn" value="Update">
                                                </div>
                                            </div>
                                            <!-- <div class="form-group mb-0">
                                                <div class="col-sm-offset-3 col-sm-12">
                                                    <button type="submit" class="btn btn-success ">Update</button>
                                                </div>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-8">
                                    <div class="form-wrap">
                                        <form class="form-horizontal" action="/profile/changePwd" method="post">
                                            <input type="hidden" name="id" value="{{user.id}}">
                                            <div class="form-group">
                                                <label for="exampleInputuname_4" class="col-sm-12 control-label">New Password*</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" id="password" placeholder="Enter password" name="pass_confirmation" data-validation="length" data-validation-length="min6">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail_4" class="col-sm-12 control-label">Confirm Password*</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" placeholder="Enter Confirm Password" name="pass" data-validation="confirmation">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 row form_footer">
                                                <div class="col-lg-12 form_footer_box">
                                                    <input type="submit" class="btn btn-success btn-poker form_btn" value="Change Password">
                                                </div>
                                            </div>
                                            <!-- <div class="form-group mb-0">
                                                <div class="col-sm-offset-3 col-sm-12">
                                                    <button type="submit" class="btn btn-success ">Change Password</button>
                                                </div>
                                            </div> -->
                                        </form>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <!-- Row -->
    <div class="row">
        <!-- /.modal -->
        <div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" name="adduser" id="cashAddFrm" action="/allUser/requestCash">
                        <div class="modal-header">
                            <h5 class="modal-title">Add/Deduct Cash</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                        </div>
                        <div class="modal-body">
                            <div id="requestCash"> </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label mb-10">Cash:</label>
                                <input type="text" name="chips" class="form-control" id="action_chips" required>
                                <span class="help-block form-error" id="displayError" style="display: none;">The input value was not a correct number</span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <!-- <input type="submit" name="requestType" class="btn btn-success playerChipsAction" value="Add">
							<input type="submit" class="btn btn-danger playerChipsAction" name="requestType" value="Deduct"> -->
                            <input type="hidden" name="requestType" id="requestType" value="">
                            <input type="button" onclick="checkAmount('deduct')" name="requestType" class="btn btn-success playerChipsAction" value="Add">
                            <input type="button" onclick="checkAmount('add')" class="btn btn-danger playerChipsAction" name="requestType" value="Deduct">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
    </div>
    <!-- /Row -->
</section>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        checkAmount = function(type) {
            var chips = $('#action_chips').val();
            $(".playerChipsAction").attr("disabled", true);
            if (parseFloat(chips) <= 0) {
                $('#displayError').html('please enter positive amount.');
                $('#displayError').css('color', 'red');
                $('#displayError').show();
                $(".playerChipsAction").attr("disabled", false);
                return false;
            }
            if (chips < 0 || isNaN(chips) || (chips % 1 !== 0)) {
                $('#displayError').html('please enter valid amount.');
                $('#displayError').css('color', 'red');
                $('#displayError').show();
                $(".playerChipsAction").attr("disabled", false);
                return false;
            }

            if (type == "add") {
                $('#requestType').val('Add');
            } else {
                $('#requestType').val('Deduct');
            }

            $('#cashAddFrm').submit();
        }
    });

    $.validate({
        modules: 'security',
        onModulesLoaded: function() {
            // Show strength of password
            $('input[name="pass_confirmation"]').displayPasswordStrength();
        }
    });

    /*$("body").on("click", ".addChips", function(){
    	var agentId = $(this).attr("id");
    	// console.log("player id ----------->",PlayerId)
    	var html = '<input type="hidden" name="agentId" value="'+agentId+'" />';
    	$("#requestCash").html(html);
    });*/

    $("body").on("click", ".playerChipsAction", function() {
        var action_chips = $('#action_chips').val();
        if (action_chips < 0 || isNaN(action_chips) || (action_chips % 1 !== 0)) {
            document.getElementById('displayError').style.display = 'block';
            document.getElementById('displayError').style.color = 'red';
            return false;
        }
    });
    $("body").on("click", "#action_chips", function() {
        document.getElementById('displayError').style.display = 'none';
    });
</script>

{% endblock %}