{% extends "partition/layout.html" %} {% block body %}

<!-- Main Content -->
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">Add In-App Purchase</h3>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            {% if inAppPurchase %}
                            <form method="POST" action="/inAppPurchase/edit/{{inAppPurchase.id}}" class="form-horizontal" enctype="multipart/form-data" id="tableForm">
                                {% else %}
                                <form method="POST" action="/inAppPurchase/add" class="form-horizontal" enctype="multipart/form-data" id="tableForm">
                                    {% endif %}
                                    <div class="form_table">
                                        <Center>
                                            <div class="col-sm-8">
                                                <div class="panel-wrapper">
                                                    <!-- <input type="hidden" name="id" value="{{stacks.id}}"> -->
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="in_app_purchase_id">In-app Purchase Id:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" name="in_app_purchase_id" id="in_app_purchase_id" placeholder="Enter In-app Purchase Id" name="Purchase" value="{{inAppPurchase.in_app_purchase_id}}" data-validation-allowing=" " data-validation-error-msg="Purchase Id is required"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="title">Title:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="title" placeholder="Enter In-app Purchase Id" name="title" value="{{inAppPurchase.title}}" data-validation="letternumeric" data-validation-allowing=" " data-validation-error-msg="Title is required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="description">Description:</label>
                                                            <div class="col-sm-12">
                                                                <textarea name="description" id="description" data-validation="required" data-validation-error-msg=" Description is required" rows="5" style="width:100%;">
                                                                        {{inAppPurchase.description}}
                                                                    </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="price">Price:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="price" data-validation="number" data-validation-allowing="float" placeholder="Enter Price" name="price" value="{{inAppPurchase.price}}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="chips">Chips:</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" id="chips" data-validation="number" data-validation-allowing="float" placeholder="Enter Chips" name="chips" value="{{inAppPurchase.chips}}">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="purchase_type">Purchase Type:</label>
                                                            <div class="col-sm-12">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="purchase_type" id="normal" value="normal" {{ "checked" if inAppPurchase.purchase_type !='special' else ''}}>
                                                                    <label class="form-check-label" for="normal">Normal</label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="purchase_type" id="special" value="special" {{ "checked" if inAppPurchase.purchase_type=='special' else ''}}>
                                                                    <label class="form-check-label" for="special">Special</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="start_date">Start Date:</label>
                                                            <div class="col-sm-12">
                                                                <input type='text' required="required" class="form-control" name="start_date" id="start_date" placeholder="Start Date" data-date-format="YYYY-MM-DD HH:mm" value="{{start_date}}" data-validation="required" data-validation-error-msg="Start Date is Required."
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="end_date">End Date:</label>
                                                            <div class="col-sm-12">
                                                                <input type='text' required="required" class="form-control" name="end_date" id="end_date" placeholder="End Date" data-date-format="YYYY-MM-DD HH:mm" value="{{end_date}}" data-validation="required" data-validation-error-msg="End Date is Required." />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="status">Status:</label>
                                                            <div class="col-sm-12">
                                                                <select class="form-control" name="status" id="status">
                                                                    <option value="active"
                                                                        {{ "selected" if inAppPurchase.status=='active' else "" }}>
                                                                        Active</option>
                                                                    <option value="inactive"
                                                                        {{ "selected" if inAppPurchase.status=='inactive' else "" }}>
                                                                        Inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label mb-10 col-sm-12" for="image">Image:</label>
                                                            <div class="col-sm-12">
                                                                {% if inAppPurchase %}
                                                                <img src="/{{inAppPurchase.image}}" width="100px" height="100px">
                                                                <input type="file" class="form-control" id="image" name="image"> {% else %}
                                                                <input type="file" class="form-control" id="image" name="image" data-validation="length mime" data-validation-length="min1" data-validation-allowing="jpg, png, gif" data-validation-error-msg-mime="You can only upload images" data-validation-error-msg-length="Please uplaod Image">                                                                {% endif %}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 row form_footer">
                                                <div class="col-lg-6 form_footer_box">
                                                    <a href="/inapppurchase" class="btn btn-danger form_btn">Cancel</a>
                                                </div>
                                                <div class="col-lg-6 form_footer_box">
                                                    <input type="submit" class="btn btn-success btn-poker form_btn" value="Submit">
                                                </div>
                                            </div>
                                        </Center>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block Jscript %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        if (!$('#start_date').val() && !$('#end_date').val()) {
            $('#start_date , #end_date').datetimepicker({
                minDate: new Date()
            });
        } else {
            $('#start_date, #end_date').datetimepicker();
        }
    });

    $.validate({
        form: '#tableForm',
        onSuccess: function($form) {
            $('#btnsubmit').val('Please wait ...')
                .attr('disabled', 'disabled');
            $('#btncancel').hide();
        }
    });
</script>
{% endblock %}