{% extends "partition/layout.html" %} {% block body %}
<div class="container nav_drop_menu " id="Finance ">
    <ul>
        <!-- <li class="text_container ">
            <a href="/promocode ">
                <div class="name ">Coupon Management</div>
            </a>
        </li> -->
        <li class="text_container ">
            <a href="/deposit-receipt ">
                <div class="name ">Deposit Request</div>
            </a>

        </li>
        <li class="text_container ">
            <a href="/withdraw ">
                <div class="name ">Withdraw Request</div>
            </a>
        </li>
        <li class="text_container ">
            <a class="active" href="/inapppurchase ">
                <div class="name ">In-App Purchase</div>
            </a>

        </li>
    </ul>
</div>

<!-- Main Content -->
<div class="container">

    <div class="main-content">
        <!-- OVERVIEW -->
        <div class="panel panel-headline">
            <div class="panel-body panel-body-home">
                <div class="">
                    <div class="panel-heading-home">
                        <span>
                            <img class="bullet_icon" src="/dist/img/poker/Poker_icon/bullet.png">
                            <h3 class="panel-title">In-App Purchase</h3>
                            <div class="pull-right">
                                <a href="/inAppPurchase/add"><button class="table_btn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New In-app Purchase</button></a>
                            </div>
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="box-body">
                            <div class="table-responsive">
                                <input type="hidden" id="gameType" name="gameType">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>In-app Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Chips</th>
                                            <th>Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Image</th>
                                            <th>In-app Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Chips</th>
                                            <th>Type</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function() {
        var host = window.location.origin;
        $('#myTable').DataTable({
            "oLanguage": {
                "sSearch": "Search By Name"
            },
            // "scrollX": true,
            "processing": true,
            "serverSide": true,
            // "searching": false,
            "ordering": false,
            "autoWidth": false,
            "pageLength": 25,
            "ajax": host + "/inAppPurchase/getInAppPurchase",
            "columns": [
                // { "data": "_id" },
                {
                    "data": "image",
                    render: function(data, type, row) {
                        return '<img height="100px" width="100px" src="/' + row.image +
                            '"></img>'
                    }
                }, {
                    "data": "in_app_purchase_id"
                }, {
                    "data": "title"
                }, {
                    "data": "price"
                }, {
                    "data": "chips"
                }, {
                    "data": "purchase_type"
                }, {
                    "data": "start_date",
                    render: function(data, type, row) {
                        let dt = new Date(row.start_date);
                        let date = dt.getDate();
                        let month = parseInt(dt.getMonth() + 1);
                        let year = dt.getFullYear();
                        let hours = dt.getHours();
                        let minutes = dt.getMinutes();
                        let ampm = hours >= 12 ? 'pm' : 'am';
                        hours = hours % 12;
                        hours = hours ? hours : 12;
                        minutes = minutes < 10 ? '0' + minutes : minutes;
                        let start_date = year + '/' + month + '/' + date + ' ' + hours +
                            ':' + minutes + ' ' + ampm;
                        return start_date;
                    }
                }, {
                    "data": "end_date",
                    render: function(data, type, row) {
                        let dt = new Date(row.end_date);
                        let date = dt.getDate();
                        let month = parseInt(dt.getMonth() + 1);
                        let year = dt.getFullYear();
                        let hours = dt.getHours();
                        let minutes = dt.getMinutes();
                        let ampm = hours >= 12 ? 'pm' : 'am';
                        hours = hours % 12;
                        hours = hours ? hours : 12;
                        minutes = minutes < 10 ? '0' + minutes : minutes;
                        let end_date = year + '/' + month + '/' + date + ' ' + hours + ':' +
                            minutes + ' ' + ampm;
                        return end_date;
                    }
                }, {
                    "data": "status"
                }, {
                    "data": "action",
                    render: function(data, type, row) {
                        return '<a href="/inAppPurchase/edit/' + row._id +
                            '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit " aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' +
                            row._id +
                            '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>'
                    }
                }
            ]
        });

        $(function() {
            "use strict";

            var SweetAlert = function() {};

            SweetAlert.prototype.init = function() {

                    //Parameter
                    $('body').on('click', '.delete', function(e) {
                        var id = $(this).attr('id');
                        var thisElement = this;
                        swal({
                            title: "Are you sure?",
                            text: "You will not be able to recover this In-app Purchase Code!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#e69a2a",
                            confirmButtonText: "Yes, delete it!",
                            cancelButtonText: "No, cancel plx!",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        }, function(isConfirm) {
                            if (isConfirm) {
                                $.ajax({
                                    type: 'POST',
                                    url: host + "/inAppPurchase/delete",
                                    data: {
                                        id: id
                                    },
                                    success: function(resultData) {
                                        // alert(resultData)
                                        console.log(resultData);
                                        if (resultData == 'success') {
                                            $(thisElement).parent()
                                                .parent().hide(700);
                                            swal("Deleted!",
                                                "Your imaginary file has been deleted.",
                                                "success");
                                        } else {
                                            alert(
                                                "Something went wrong")
                                        }
                                        // alert("Save Complete")
                                    }
                                });
                                swal("Deleted!",
                                    "In-app Purchase Code Deleted Succesfully.",
                                    "success");
                            } else {
                                swal("Cancelled",
                                    "In-app Purchase Code Not Deleted)", "error"
                                );
                            }
                        });
                        return false;
                    });

                },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });

    });
</script>
{% endblock %}